extends layout
block contenido
    div.container
    br
    h1(align="center" style="color:red") SII
    h1(align="center") Sistema de Información de Inventario
    br
    center
        img(src="/img/inventario.png" width="300" height="300")